<h1 align="center" style="color:rgb(236, 18, 18);">SSV College of Science, Degree & PG Degree college</h1>
<h5 align="center" style="color:green">Raipur, Chhattisgarh 490001</h5>
<hr>
<br>
<h4 style="color:darkblue">Overview</h4>
<p>
    SSV College of Science, Degree & PG Degree college is a Non-Profit Organization with the main objective of establishing educational institutions including professional colleges to provide quality education.
</p>
<h5 style="color:darkblue">Our Highlights</h5>
<ol type="1">
    <li>Smart Classrooms </li>
    <li> Certificate courses</li>
    <li> Entrepreneurship Skill Initiatives</li>
    <li> Online PG-Courses</li>
    <li> Career and Placement Cell</li>
</ol>
<h3 style="background-color:red"><font style="color:black">Contact Us:</font></h3><hr>
<h4 style="color:Green">Contact Details:</h4>
<h4>Mobile Number:</h4>
+91-9854692347
<h4>Email-id</h4>
<a href= "info@ssvdegreecollege.ac.in ">info@ssvdegreecollege.ac.in</a>


