<h1 align="center" style="color:rgb(148, 36, 17);">SSV College of Science, Degree & PG Degree</h1>
<h5 align="center" style="color:green"> Raipur, Chhattisgarh 490001</h5>
<hr>
<br><br>
<p><b>SSV College of Science, Degree & PG Degree</b>  has  a  tryst  with  excellence.  We  strive  for  excellence  by  ensuring  a  trinity of  superlatives -  students ,  faculty  and  infrastructure ;  cohabit  in  a  congenial  and  conducive  environment . Since  inception ,  the  institution  has  remained  committed  to  creation ,  archiving  and  dissemination  of  knowledge  for  the service  to  the  humanity.  We  aspire  to  develop  professionals  with  sound  knowledge  and  skill ,  respect  for  profession ,  social  and  national  values  and  ethics.

    As  stated  in  our  mission ,  the  intellectual ,  personal ,  and  professional  success  of  our  students  should  manifest  in  the  greater  cause  of  the  advancement of  society  and  nation.
    
     Students  are  trained  on  ethics  and  etiquette .  On  the  whole  it  should  be  a  totally  rewarding  experience  for  all  the aspirants  who  enter  our  pool  of  excellence.</p>
    <h3 align="center"style="color:rgb(180, 33, 124);">Four Pillars of our Success - Leadership, Faculty, Infrastructure, Student Activities.
        

